<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zm.mapper.StudentMapper">
    <resultMap id="StudentTeacher" type="Student">
        <association
                property="teacher"
                column="tid"
                javaType="Teacher"
                select="getTeacher"/>
    </resultMap>
</mapper>