<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定对接mapper接口-->
<mapper namespace="cn.zm.mapper.UserMapper">
    <select id="selectUserLimit" resultType="User">
        select * from user limit #{num}
    </select>
    <!--<select id="selectUserByPage" resultType="User">-->
    <!--    select * from user limit #{currentPage}, #{pageSize}-->
    <!--</select>-->
    <select id="selectUserByPage" parameterType="map" resultType="User">
        select * from user limit #{currentPage}, #{pageSize}
    </select>

    <select id="getUserByRowBounds" resultType="User">
        select * from user
    </select>
</mapper>